<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="en">
<head>
    <title>123</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/loading.css">
    <link rel="stylesheet" href="css/popup.css">
    <link rel="stylesheet" href="css/index.css">
    <script src="js/dummy-data.js"></script>
</head>
<body>
<div>
    <!--loading-->
    <div class="loading">
        <div class="loadingIcon" data-loader="circle-side"></div>
        <div class="loadingTxt">Loading</div>
    </div>

    <!--popup-->
    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <p id="modal-content__p-1">Some text in the Modal..</p>
        </div>
    </div>
    <div class="log-container"></div>
</div>

<script src="js/jquery-3.4.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mark.js/8.11.1/jquery.mark.es6.min.js"></script>
<script src="js/common.js"></script>
<script src="js/loading.js"></script>
<script src="js/popup.js"></script>
<script src="js/keyMap.js"></script>
<script src="js/index.js"></script>
</body>
</html>
